
body {
background: #d9bef7;
font-family: "Arial, Helvetica, sans-serif";
line-height: 30px;
}
a:link {
    color: rgb(235, 32, 32);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    border:10px; 
    border-style: solid;
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

h1 {
  background: rgb(237, 210, 255);
  text-align: center;
  text-transform: uppercase;
  margin: center;
}
.firstlist {
  background: #fff;
  text-align: left;
  margin-left: 0%;
  margin-right: 50%;
}
.things {
  background: rgb(103, 137, 230);
  text-align: center;
   margin-left: 0%;
  margin-right: 50%;
}
